
/* ProductSections.css */
.main{
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  padding: 24px;
 
}

.section {
  margin-bottom: 40px;
}

.section-title {
  color: #ec4899; /* Tailwind's pink-600 */
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
  
}

.products-grid {
  display: flex;
  flex-direction: row;
  overflow-x: auto; /* enables horizontal scroll */
  gap: 24px;
  width: 500px; /* or any fixed width */
  padding-bottom: 8px; /* optional for visual breathing space */
}
/* .products-grid::-webkit-scrollbar {
  display: none; 
} */


.product-card {
  width: 200px;
  text-align: center;
  position: relative;
}

.product-image {
  width: 200px;
  height: 192px; /* 48 * 4 = 192px (Tailwind's h-48) */
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.product-name {
  text-align: start;
  margin-top: 8px;
  font-weight: 500;
  color: #333;
}

.product-price {
  text-align: start;
  font-weight: bold;
  color: black; /* Tailwind's blue-700 */
}
 
.btn{
  padding: 10px 20px;
  color:  #ec4899;
  border:  1px solid #e99dc3 ;
  background: white;
  font-size: 20px;
}


.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}